<div class="jumbotron mt-4">
  <h1 class="display-4">Notas APP</h1>

  <p class="lead">Esta es una simple aplicación para aprender y practicar con Node.js, Express y MongoDB con Mongoose.</p>
  <p class="lead">Las funciones son: Login, CRUD para almacenar NOTAS en MongoDB usando Mongoose.</p>
  <hr class="my-4">
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse dignissimos nulla similique molestias suscipit
    facere vitae voluptate, autem minima consectetur optio labore obcaecati sunt, alias doloribus accusantium? Maiores,
    quod soluta!</p>

  <a class="btn btn-success btn-lg" href="/users/registrarse" role="button">
    ¡Registrarse para comenzar!
  </a>
</div>